# Dependencies
node_modules/
dist/

# Environment Variables & Secrets
.env
.dev.vars
wrangler.json


# Cloudflare
.wrangler/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db
